.form {
    display: flex;
    justify-content: space-between;
}

.inputCreateTask {
    width: 63.8rem;
    padding: 1.6rem;
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    color: var(--white);
}

.inputCreateTask::placeholder {
    color: var(--gray-300);
}

.buttonCreateTask {
    display: flex;
    align-items: center;
    gap: .8rem;

    padding: 1.6rem;
    border-radius: 8px;
    border: none;

    font-size: 1.4rem;
    background: var(--blue-dark);
    color: var(--white);
}